# Fichiers et dossiers à ignorer
.env
*.env
backend/.env
frontend/.env
.npmrc
.DS_Store

# Dossiers d'IDE et de configuration locaux
.idea/
.vscode/

# Dossiers de dépendances et de builds
node_modules/
.venv/
dist/
build/

# Fichiers de log et de cache
*.log
npm-debug.log*

# Python
__pycache__/
*.pyc

#data
/backend/app/data/sign_data/*
!/backend/app/data/sign_data/.gitkeep

/backend/app/data/cheques/cih/*
!/backend/app/data/cheques/cih/.gitkeep

/backend/app/data/cheques/TIJARI/*
!/backend/app/data/cheques/TIJARI/.gitkeep

/backend/app/data/cheques/BCP/*
!/backend/app/data/cheques/BCP/.gitkeep

/backend/app/data/annotation/*
!/backend/app/data/annotation/.gitkeep

/backend/runs/*
!/backend/runs/.gitkeep
!/backend/app/data/cheques/cih/.gitkeep
