faker
pandas
num2words
imgkit
playwright
pillow
opencv-python
numpy
kagglehub
openpyxl
ultralytics
opencv-python-headless # OpenCV sans interface graphique
easyocr
torch
torchvision
passlib
bcrypt
python-jose
cryptography
email-validator